@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-1: "Work Sans", sans-serif;
}

/* Cart Container */
.cart-container {
    position: relative;
    padding: 20px 20px;
    max-width: 75%;
    margin: 6% auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.cart-container h2 {
    font-size: 300%;
    margin-bottom: 20px;
    color: #7494EC;
    text-align: center;
}

.table-cart {

    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    /* 👈 Khoảng cách 15px giữa các dòng */
}

.table-cart thead th {
    margin-bottom: 10px;
}

th,
td {
    width: 500px;
}

thead {
    text-align: center;
    font-size: 150%;
}

tr {
    margin-bottom: 10px;
}

thead,
tbody {
    width: 100%;
}

.cart-td-product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image-cart {
    width: 150px;
    margin-right: 15px;
}

.image-cart img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.cart-summary {
    margin-top: 2%;
    width: 30%;
    /* text-align: right; */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inner-checkout {
    display: flex;
    justify-content: flex-end;
}

.info-checkout {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.inner-button {
    display: flex;
    justify-content: flex-end;
}

.checkout-btn {
    font-family: var(--font-1);
    padding: 10px;
    background-color: #7494EC;
    color: white;
    font-size: 110%;
    font-weight: 700;
    border-radius: 10px;
}

button {
    border: none;
}

.summary-info h3 {
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 200%;
    margin-bottom: 10px;
    color: #7494EC;
}

.summary-info p {
    margin-bottom: 5px;
    font-family: var(--font-1);
}

.cart-price {
    text-align: center;
}

.cart-action {
    display: flex;
    justify-content: center;
    align-items: center;
}


.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price span {
    margin-right: 10px;
}

.delete-item {
    width: 25px;
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-size {
    display: flex;
    justify-content: center;
}

.select-size select, .select-size option {
    padding: 5px;
    font-weight: 550;
}