.breadcrumb {
  font-size: 14px;
  padding: 20px 30px;
  background: #f8f8f8;
  z-index: 1;
  position: relative;
}

.main-content-kiosk{
  display: flex;
}

.sidebar {
  margin-top: 20px;
  width: 200px;
}

.sidebar h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #555;
}

.section-item-products {
  margin-top: 15px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-y: visible;
  max-height: 1000px;
}

.product-item {
  border: 2px solid #eee;
  padding: 15px;
  text-align: center;
  border-radius: 6px; 
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}

.product-item h4 {
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.product-item p {
  /* font-weight: bold; */
  color: #000;
}

.product-item:hover {
  border-color: #003087;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: all 0.3s ease;
}

.product-item img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.product-item button:hover {
  background: #0050c2;
  transition: 0.3s ease;
}

.product-item button {
  margin-top: 10px;
  padding: 8px 16px;
  background: #03129d;
  color: #fff;
  border: 2pt;
  cursor: pointer;
  border-radius: 10px;
}
    
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #003087;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.pagination button:hover {
  background-color: #0050c2;
}


.filter-price {
  margin-top: 20px;
}

.filter-price h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
}

.filter-price label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.prices {
  margin: 5px 0;
}

.option {
  width: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.item-filter li {
  text-align: center;
  margin-left: 20px;
  width: 60%;
  border-radius: 5px;
}

.item-filter li:hover{
  background-color: #d6ebee;
}

.active {
  border: 1px solid blue;
  background-color: #d6ebee;
}