
/* BREADCRUMB */
.breadcrumb {
  font-size: 14px;
  padding: 20px 30px;
  background: #f8f8f8;
}

/* PRODUCT DETAIL */
.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 30px;
}

.product-gallery {
  flex: 1;
  min-width: 350px;
}

.product-gallery .main-image {
  border: 1px solid #ccc;
  padding: 20px;
  background: #f9f9f9;
}

.product-gallery .main-image img {
  width: 100%;
}

.thumbnail-list {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.thumbnail-list img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail-list img:hover {
  border-color: #03129d;
  transform: scale(1.05);
}

/* PRODUCT INFO */
.product-detail-info {
  flex: 1;
  min-width: 300px;
}

.product-detail-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product-detail-info .price {
  color: #d32f2f;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 20px;
}

/* OPTIONS */
.product-options {
  margin: 20px 0;
}

.size-buttons {
  display: flex;
}

.btn-size, .btn-size {
  margin: 4px;
  padding: 8px 14px;
  border: 1px solid #333;
  background: white;
  cursor: pointer;
}

.add-to-cart {
  padding: 12px 24px;
  background: #03129d;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.add-to-cart:hover {
  background-color: #021173;
}

/* SHIPPING INFO */
.product-shipping {
  margin-top: 20px;
  font-size: 14px;
}

.product-shipping i {
  margin-right: 8px;
  color: #03129d;
}

/* DETAILS */
.product-details {
  margin-top: 40px;
}

.product-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.product-details ul {
  list-style: disc;
  margin-left: 20px;
  line-height: 1.6;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}

.social-icons a:hover {
  color: #d3a34f;
}

.footer-bottom p {
  font-size: 12px;
  margin: 5px 0;
}

.quantity-selector{
  display: flex;
  margin: 5px 0;
}

.btn-size:hover {
  background-color: #d1d8de;
}

.btn-size.selected {
  background-color: #294889;
  color: white;
}
.quantity-product{
  margin: 5px 0;
}

