.breadcrumb {
  font-size: 14px;
  padding: 20px 30px;
  background: #f8f8f8;
  margin-top: 70px; /* hoặc lớn hơn nếu header cao hơn */
  z-index: 1;
  position: relative;
}

.container {
  display: flex;
  padding: 30px;
  gap: 30px;
}

.sidebar {
  width: 250px;
}

.sidebar h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #555;
}

.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-y: visible;
  max-height: 1000px;
}

.product {
  border: 2px solid #eee;
  padding: 15px;
  text-align: center;
  border-radius: 6px; 
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}

.product h4 {
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.product p {
  font-weight: bold;
  color: #000;
}

.product:hover {
  border-color: #003087;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: all 0.3s ease;
}

.product img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.product button:hover {
  background: #0050c2;
  transition: 0.3s ease;
}

.product button {
  margin-top: 10px;
  padding: 8px 16px;
  background: #03129d;
  color: #fff;
  border: 2pt;
  cursor: pointer;
  border-radius: 10px;
}
    
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #003087;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.pagination button:hover {
  background-color: #0050c2;
}

.filter-price {
  margin-top: 20px;
}

.filter-price h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
}

.filter-price label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}